.about {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.about__description {
    font-size: var(--base-size);
    align-self: center;
    text-align: center;
    max-width: 75%;
    border: 1px solid #002855;
    background: var(--palebg-clr);
    color: var(--gray400-clr);
    padding: 1em;
    margin: 1rem auto;
    box-shadow: 0 0 20px #002855;
}

.about__ul {
    font-size: var(--sm-size);
    color: var(--gray400-clr);
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    'header header header'
    'html js css'
    'python react c'
    'sql ps ps';
    gap: 1rem;
    padding: 1em;
    margin: 1rem auto;
    
    width: 75%;
    background: var(--palebg-clr);
    box-shadow: 0 0 20px #002855;
    border: 1px solid #002855;
    grid-area: zakres;
}

.about-li__sql {
    text-align: right;
}

.about-ul__header {
    color: var(--gray400-clr);
    font-size: var(--lg-size);
    margin-bottom: 0.5rem;
    grid-area: header;
}

.about-li__html {
    grid-area: html;
}

.about-li__javascript {
    grid-area: js;
}

.about-li__react {
    grid-area: react;
}

.about-li__python {
    grid-area: python;
}

.about-li__c {
    grid-area: c;
}

.about-li__sql {
    grid-area: sql;
}

.about-li__photoshop {
    grid-area: ps;
}

.about-exp__container {
    width: 75%;
    font-size: var(--base-size);
    align-self: center;
    text-align: center;
    border: 1px solid #002855;
    background: var(--palebg-clr);
    color: var(--gray400-clr);
    padding: 1rem;
    margin: 1rem auto;
    box-shadow: 0 0 20px #002855;
    grid-area: exp;
}

.about-exp__header {
    font-size: var(--xl-size);
}

.about-school__container {
    font-size: var(--base-size);
    text-align: center;
    max-width: 75%;
    border: 1px solid #002855;
    background: var(--palebg-clr);
    color: var(--gray400-clr);
    padding: 1rem;
    margin: 1rem auto;
    box-shadow: 0 0 20px #002855;
    grid-area: school;
}

.about__me {
    font-size: var(--base-size);
    align-self: center;
    text-align: center;
    max-width: 75%;
    border: 1px solid #002855;
    background: var(--palebg-clr);
    color: var(--gray400-clr);
    padding: 1rem;
    margin: 1rem auto;
    box-shadow: 0 0 20px #002855;
}

.about-me__header {
    font-size: var(--xl-size);
}

.loading {
    position: relative;
    filter: blur(10px);
}

.loaded {
    filter: blur(0px);
    transition: all 300ms ease-in;
}

.loading::before {
    content: '';
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    background: #1e1b58;
}

.loaded::before {
    content: '';
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    background: none;
    user-select: none;
    z-index: -1;
}

/* xs screen */
@media (min-width: 475px) { /* mój telefon 475x865 */
    .about__ul {
        font-size: var(--base-size);
        padding: 1rem 3rem;
    }
    
    .about-ul__header {
        font-size: var(--lg-size);
    } 
}

/* sm screen */
@media (min-width: 768px) {
    .about-ul__header {
        font-size: var(--xl-size);
    }

    .about__ul {
        font-size: var(--lg-size);
        gap: 0.5rem;
        width: 75%;
        padding: 1rem 5rem;
    }
}

/* lg screen */
@media (min-width: 1024px) {
    .about {
        max-width: 1024px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        'desc ul'
        'exp school'
        'aboutme aboutme';
        font-size: var(--lg-size);
    }

    .about__description {
        grid-area: desc;
        margin: 1rem auto;
        padding: 1rem;
        font-size: var(--lg-size);
    }

    .about__ul {
        grid-area: ul;
        margin: 1rem auto;
        padding: 1rem 4rem;
    }

    .about-exp__container {
        font-size: var(--lg-size);
    }

    .about-school__container {
        font-size: var(--lg-size);
    }

    .about__me {
        grid-area: aboutme;
        max-width: none;
        width: 88%;
        font-size: var(--lg-size);
    }
}