.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    user-select: none;
}

.header__link {
    color: var(--gray600-clr);
}

.header__menu {
    display: none;
}

.header__bars {
    display: block;
    color: var(--light-clr);
    width: var(--xl2-size);
    height: var(--xl2-size);
}

.header__resume {
    font-weight: 600;
    color: var(--light-clr);
    letter-spacing: -0.05em;
    background-color: var(--pink-clr);
    padding: .75rem 1.5rem;
    border-radius: 6px;
    box-shadow: 0 10px 20px rgba(157, 23, 77, 0.5), 0 6px 6px rgba(157, 23, 77, 0.5), 0 0 100px -10px var(--pink-clr);
    user-select: none;
    transition: 0.3s;
}

.header__resume:hover {
    transform: translateY(-3px);
    box-shadow: 0 14px 28px rgba(157, 23, 77, 0.25), 0 10px 10px rgba(157, 23, 77, 0.22), 0 0 120px -10px var(--pink-clr);
}

/* md screen */
@media (min-width: 768px) {
    .header__menu {
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0;
        gap: 2em;
    }
    
    .header__link {
        font-size: var(--xs-size);
        text-decoration: none;
        font-weight: 600;
        letter-spacing: -0.05em;
        transition: color 0.3s;
    }
    
    .header__link:hover {
        color: var(--pink-clr);
    }
    
    .header__line {
        border: 1px solid var(--gray600-clr);
        padding-top: 1.5em;
    }
    
    .header__sun {
        display: block;
        width: var(--xl-size);
        height: var(--xl-size);
    }
    
    .header__resume {
        font-size: var(--xs-size);
    }

    .header__bars {
        display: none;
    }
}

/* lg screen */
@media (min-width: 1024px) {
    .header__link {
        font-size: var(--sm-size);
    }
    
    .header__sun {
        width: var(--xl2-size);
        height: var(--xl2-size);
    }
    
    .header__resume {
        font-size: var(--sm-size);
    }
}